.registerButton {
    text-align: center;
    display: block;
    padding: 0.5rem; /* TODO: add spacing token */
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* TODO: add spacing token */
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem; /* TODO: add spacing token */
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem; /* TODO: add spacing token */
}