.main {
  height: var(--main-component-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; /* TODO replace with spacing token */
  padding: 0;
  margin: 0;
}

.slots {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem; /* TODO replace with spacing token */
}